<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<div *ngIf="isLoading; else content" class="loading">
  <div class="loading-text">  Loading...
    <i class="fas fa-spinner fa-pulse ml-2"></i> 
  </div>
</div>

<ng-template #content>
  <div class="container-fluid">
    <div class="row ">
        <div class="col" (click)="fetchData()">
            <img src="assets/sync.svg" alt="sync picture">
            <h1>Synchronization</h1>
        </div>
    </div>
  </div>  
</ng-template>
