
.container-fluid{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 226, 226, 0.205);
}
.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.col{
background-color: white;
text-align: center;
padding: 20px 20px;
border: 1px solid rgba(0, 0, 0, 0.068);
box-shadow: rgba(0, 0, 0, 0.144) 0px 5px 15px;
border-radius: 12px;
cursor: pointer;
}
.col:hover{
    box-shadow: #011f3d79 0px 5px 15px;   
}
.col img{
width: 100px;
margin-bottom: 10px;
}


.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .loading-text {
    font-size: 24px;
    color: #333; /* Text color */
    background-color: #fff; /* Background color for the loading message */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the message box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for a raised effect */
  }
  